%h2.mb-5.px-0
  New

%form{ method: 'post',
       action: "/" }
  .memo-title.form-group.my-3
    %input#memo-name.form-control.w-100.px-4{ type: 'text',
                            title: 'title',
                            placeholder: 'Title' }
  .memo-content.form-group.my-3
    %textarea#memo-content.form-control.w-100.px-4.py-3{ title: 'content',
                                                         rows: '10',
                                                         placeholder: 'Content' }
  .submit.my-3
    %button.btn.btn-primary.btn-block{ type: 'submit' }
      Create
