%h2.mb-5.px-0
  Edit mode

%form{ method: 'post',
       action: "/#{@memo.id}" }
  %input{ type: 'hidden', name: '_method', value: 'PUT' }
  .memo-title.form-group.my-3
    %input#memo-name.form-control.w-100.px-4{ type: 'text',
                                              name: 'title',
                                              value: @memo.title }
  .memo-text.form-group.my-3
    %textarea#memo-text.form-control.w-100.px-4.py-3{ name: 'text',
                                                         rows: '10' }
      = @memo.text
  .submit.my-3
    %button.btn.btn-primary.btn-block{ type: 'submit' }
      Update

  %a.btn.btn-block.btn-secondary.mb-3{ href: "/#{@memo.id}", role: 'button' }
    Cancel
